<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abmcr.robot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="view.Splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="view.Menu.MainActivity"
            android:parentActivityName="view.Menu.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="view.Remote.RemoteActivity"
            android:parentActivityName="view.Remote.RemoteActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="view.Accelerometer.AccelerometerActivity"
            android:parentActivityName="view.Accelerometer.AccelerometerActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="view.Labyrinth.LabyrinthActivity"
            android:parentActivityName="view.Labyrinth.LabyrinthActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="view.Logs.CommunicationActivity"
            android:parentActivityName="view.Logs.CommunicationActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="model.Communication.CommunicationService"
            android:label="@string/app_name" />

    </application>

</manifest>